// Colors

// Primary

$Soft-orange: hsl(35, 78%, 62%);
$Soft-red: hsl(5, 85%, 63%);

// Neutral

$Off-white: hsl(36, 100%, 99%);
$Grayish-blue:  hsla(236, 13%, 42%, 1);
$Dark-grayish-blue: hsl(237, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%,1);