.AppLayout {
  position: relative;
  width: 100%;
  max-width: 90rem;
  overflow-x: hidden;

  @include mq-Desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 21.875rem;
    grid-template-rows: auto;
    grid-column-gap: 1.875rem;
    grid-row-gap: 3.8125rem;
    margin: 5.5625rem auto 8.0625rem auto;
    max-width: 69.375rem;
  }

  @include mq-large {
    padding: 0 1rem 4.6875rem 1rem;
  }
}
