@font-face {
  font-family: "Inter-Regular";
  src: url("/src/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/src/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/src/fonts/Inter-ExtraBold.ttf");
}
